// Global Styles
// -------------

// SCAFFOLDING
// =============================================================================

:root {
  font-size: $em-base;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  border: 0;
  box-sizing: inherit;
  outline: 0;
  vertical-align: baseline;
}

body,
html {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

body {
  @include font-feature-settings('kern', 'liga', "frac", 'pnum');
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
}


// Wordpress Screen Reader Class
.screen-reader-text {
  position: absolute !important;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
