// Global Scaffolding
// ------------------

// Container
.container-fluid {
  @include outer-container(100%);
}

.container {
  @include base-container();
}

.row {
  @include row();
}

.section-padding {
  padding-bottom: $space-lg;
  padding-top: $space-lg;

  @include media($medium) {
    padding-bottom: $space-xl;
    padding-top: $space-xl;
  }
}

// Sidebar
.sidebar-right {
  .main-content {

    @include media($medium) {
      @include span-columns(7);
    }
  }

  .sidebar {

    @include media($medium) {
      @include span-columns(4);
      @include shift(1);
    }
  }
}
