# Application
app/plugins/*
!app/plugins/.gitkeep
app/upgrade
app/uploads/*
!app/uploads/.gitkeep
app/mu-plugins/*
!app/mu-plugins/.gitkeep
!app/mu-plugins/disallow-indexing.php
!app/mu-plugins/register-theme-directory.php
!app/mu-plugins/bedrock-autouploader.php

# WordPress
wp/*
.htaccess

# Vendor (e.g. Composer)
lib/vendor/*
!vendor/.gitkeep

# Apollo Config
env.php