// Pattern Lib Colors
$pattern-gray: #757575;
$pattern-gray-light: lighten($pattern-gray, 20%);


$pattern-highlight: $pattern-gray;
$pattern-light: $pattern-gray-light;

// Pre and Code colors
$pattern-pre: lighten($pattern-gray, 45%);
$pattern-pre-padding: 30px;
$pattern-code-padding: 2px 5px;
$pattern-pre-font-size: 16px;
