.pattern-element {
  border-bottom: 1px solid $pattern-highlight;
  padding: 75px 0;
  margin-bottom: 100px;

  &:first-of-type {
    border-top: 1px solid $pattern-gray;
  }
}

.pattern-title {
  display: block;
  margin-bottom: 75px;
  padding-bottom: 10px;
  border-bottom: 1px solid $pattern-gray-light;
  color: $brand-color;
}

.pattern-code-result {
  margin-bottom: 30px;
}

.pattern-sub-section-divider {
  border: 1px solid $pattern-gray-light;
  padding: 30px;
  margin-bottom: 40px;
}

.pattern-button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: $pattern-gray;
  margin-bottom: 30px;
}

.pattern-code-input {
  display: none;

  pre {
    border: 1px solid lighten($pattern-pre, 5%);
    background: $pattern-pre;
    padding: $pattern-pre-padding;
    white-space: pre-line;
    font-size: $pattern-pre-font-size;
  }

  code {
    border: 1px solid lighten($pattern-pre, 5%);
    background: $pattern-pre;
    padding: $pattern-code-padding;
    font-size: $pattern-pre-font-size;
    text-transform: none;
    font-weight: 400;
  }
}

