// Utility Extends
// ---------------

// LAYOUT EXTENDS
// ============================================================

%cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

%hidden {
  display: none;
  visibility: hidden;
}


// SPACING (SPACING VARS IN VARIABLES/_VAR-UTILITIES)
// ============================================================

%space-before-sm {
  margin-top: $space-sm;
}

%space-after-sm {
  margin-bottom: $space-sm;
}

%space-before-md {
  margin-top: $space-md;
}

%space-after-md {
  margin-bottom: $space-md;
}

%space-before-lg {
  margin-top: $space-lg;
}

%space-after-lg {
  margin-bottom: $space-lg;
}

%space-before-xl {
  margin-top: $space-xl;
}

%space-after-xl {
  margin-bottom: $space-xl;
}


// CSS3 EXTENDS
// ============================================================

%background-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


// TRANSITIONS
// ============================================================

%standard-trans {
  transition: all 0.35s;
}

%long-trans {
  transition: all 0.5s;
}

