// Utility Extends
// ---------------

// LAYOUT EXTENDS
// ============================================================

%cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

%hidden {
  display: none;
  visibility: hidden;
}


// CSS3 EXTENDS
// ============================================================

%background-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


// TRANSITIONS
// ============================================================

%standard-trans {
  transition: all 0.35s;
}

%long-trans {
  transition: all 0.5s;
}