// Utility Extends
// ---------------

// LAYOUT EXTENDS
// ============================================================

%cover {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

%hidden {
  display: none;
  visibility: hidden;
}

%visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

%img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100% \9;
  width: 100%;
  @include image-rendering(optimizeSpeed);
}

// SPACING (SPACING VARS IN VARIABLES/_VAR-UTILITIES)
// ============================================================

%space-before-sm {
  margin-top: $space-sm;
}

%space-after-sm {
  margin-bottom: $space-sm;
}

%space-before-md {
  margin-top: $space-md;
}

%space-after-md {
  margin-bottom: $space-md;
}

%space-before-lg {
  margin-top: $space-lg;
}

%space-after-lg {
  margin-bottom: $space-lg;
}

%space-before-xl {
  margin-top: $space-xl;
}

%space-after-xl {
  margin-bottom: $space-xl;
}


// CSS3 EXTENDS
// ============================================================

%background-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


// TRANSITIONS
// ============================================================

%standard-trans {
  @include transition(all .35s ease-in-out);
}

%long-trans {
  @include transition(all .5s ease-in-out);
}
