// Typography Extends
// ------------------

// LINKS
// ============================================================



// LISTS
// ============================================================

%list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

%list-inline {
  padding: 0;
  margin: 0;
  list-style: none;

  > li {
    display: inline-block;
  }
}

// TYPE STYLES
// ============================================================

