// BUTTONS
// ============================================================

%btn {
  background-clip: padding-box;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
}
