// Mixins: Elements
// ----------------

// BUTTONS
// ============================================================

@mixin button-styler(

    // Base Vars
    $padding: 10px 20px,
    $color: $base-font-color,
    $background: $brand-color,

    // Null Vars (Optional)
    $border: null,

    // Hover Vars
    $hover-color: null,
    $hover-background: darken($brand-color, 5%)

  ) {


  // Properties
  @extend %standard-trans;
  color: $color;
  padding: $padding;
  text-align: center;
  background-color: $background;
  @if $border != null {
     border: $border;
  }

  &:hover {
    background-color: $hover-background;
    @if $hover-color != null {
       color: $hover-color;
    }
  }
}
