// Mixins: Elements
// ----------------

// BUTTONS
// ============================================================

@mixin btn($padding: 7px 18px, $background: $black) {
  background-clip: padding-box;
  background: $background;
  color: $white;
  display: inline-block;
  font-weight: 700;
  padding: $padding;
  text-decoration: none;
  white-space: nowrap;
}

@mixin button-styler($btn-color: $base-font-color, $btn-hover-color: $brand-color, $btn-background-hover: $btn-color) {
  @extend %standard-trans;
  color: $btn-color;
  border-color: $btn-color;

  &:hover {
    background-color: $btn-background-hover;
    border-color: $btn-background-hover;
    color: $btn-hover-color;
  }
}
