// Mixins: Elements
// ----------------

// BUTTONS
// ============================================================

@mixin button-styler(

    // Base Vars
    $padding: 10px 20px,
    $color: $base-font-color,
    $background: $brand-color,
    $font-weight: normal,

    // Hover Vars
    $hover-background: darken($background, 5%),

    // Null Vars (Optional)
    $border: null,
    $hover-border: null,
    $hover-color: null

  ) {

  // Class Properties
  @extend %standard-trans;
  color: $color;
  padding: $padding;
  text-align: center;
  background-color: $background;
  font-weight: $font-weight;

  // Optional Properties
  @if $border != null {
     border: $border;
  }

  &:hover {
    background-color: $hover-background;
    color: $color;

    // Optional Properties
    @if $hover-color != null {
       color: $hover-color;
    }

    @if $hover-border != null {
       border: $hover-border;
    }
  }
}
