// MAIN.SCSS
// ---------

// VENDOR STYLES
// =============================================================================

@charset 'UTF-8';
@import '../../../node_modules/sanitize.css/sanitize';                     // Sanitize
@import '../../../node_modules/bourbon/app/assets/stylesheets/bourbon.scss';   // Bourbon
@import '../../../node_modules/bourbon-neat/app/assets/stylesheets/neat.scss'; // Neat

// THEME STYLES
// =============================================================================

@import '../partials/utilities/base';    // Utilities
@import '../partials/global/base';       // Globals Base
@import '../partials/components/base';   // Components Base
@import '../partials/layouts/base';      // Layouts Base

