// Header Class Extends
// --------------------

%header-reset {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

%head-1 {
  font-size: rem(22);
  line-height: 1.2;
  font-weight: 600;
  color: blue;

  @include media($medium) {
    font-size: rem(32);
  }

}

%head-2 {
  font-size: rem(14);

  @include media($small) {
    font-size: rem(16);
  }

  @include media($medium) {
    font-size: rem(20);
  }
}

%head-3 {
  @extend %bold-caps;
  font-size: rem(12);

  @include media($small) {
    font-size: rem(15);
  }
}