// Typography Extends
// ------------------

// BASICS
// =============================================================================

%semi-bold {
  font-weight: 600;
}

%bold {
  font-weight: 700;
}

%bold-caps {
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}


// HEADERS
// =============================================================================

%header-reset {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
