// Typography Extends
// ------------------


// HEADERS
// =============================================================================

%header-reset {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
